* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(auto,1fr) 5fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.sidebar {
    background-color: #0ea5e9;
    color: #fafafa;
    grid-area: 1 / 1 / 3 / 2;

    display: grid;
    place-content: start;
    gap: 64px;
    padding: 16px;
    padding-right: 64px;
}

.sidebar ul img {
    width: 40px;
}

.sidebar .logo {
    font-size: 2rem;
    font-weight: bolder;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 16px;
}

.sidebar a {
    font-size: 1.7rem;
    font-weight: 600;
    padding: 8px;
    text-decoration-color: white;
    color:inherit;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

.header {
    background-color: #fafafa;
    grid-area: 1 / 2 / 2 / 3;
    padding-bottom: 16px;
}

.top-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 32px;
    padding: 8px 48px;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.top-container input {
    border: none;
    background-color: #cbd5e1;
    height: 30px;
    border-radius: 16px;
    padding: 8px;
    margin-right: 50px;
    max-width: 1000px;
}

.top-container img {
    width: 40px;
}

.top-container .profile-pic {
    width: 50px;
}

.bottom-container {
    width: 100%;
    display: grid;
    padding: 8px 48px;
    grid-template-columns: auto 1fr auto auto auto;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: 8px 24px;
}

.bottom-container .profile-pic {
    width: 100px;
    grid-area: 1 / 1 / 3;
}

.bottom-container .hello-intro {
    grid-area: 1 / 2;
    align-self: flex-end;
    font-size: 1.3rem;
}

.bottom-container .hello-name {
    grid-area: 2 / 2;
    align-self: flex-start;
    font-size: 1.6rem;
    font-weight: bold;
}

.bottom-container button {
    background-color: #0ea5e9;
    color: #fafafa;
    font-weight: 550;
    border: none;
    font-size: 1.2rem;
    border-radius: 24px;
    padding: 12px 24px;
}

.bottom-container .new-button {
    grid-area: 1 / 3 / 3;
}
.bottom-container .upload-button {
    grid-area: 1 / 4 / 3;
}
.bottom-container .share-button {
    grid-area: 1 / 5 / 3;
}

.content {
    background-color: #cbd5e1;
    grid-area: 2 / 2 / 3 / 3;

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 64px;
}

.your-projects-container {
    grid-area: 1 / 1 / 3;
    padding: 32px;
}

.content-category-header {
    font-size: 1.5rem;
    font-weight: 550;
}

.announcements-container {
    grid-area: 1 / 2;
}

.trending-container {
    grid-area: 2 / 2;
}

.project-grid {
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap:32px;
    padding: 8px 0;
}

.project {
    background-color: #fafafa;
    border-radius: 32px;
    padding: 16px 28px;

    display: grid;
    grid-template-columns: 1fr 40px 40px;
    grid-template-rows: 1fr 3fr 1fr;
    justify-items: start;
    gap: 8px;
    box-shadow: inset 11px 0px 0px 0px rgba(240,201,8,1);
}

.project img {
    width: 30px;
    align-self: center;
    justify-self: end;
}

.project-title {
    font-size: 1.4rem;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 4;
    align-self: flex-end;
}

.project-desc {
    grid-area: 2 / 1 / 3 / 4;
}